@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";

}

h3 {
  font-weight: 400;
  font-size: 14px;
}

h3 span {
  color: black;
  font-size: 13px;
}

button {
  appearance: button;
  backface-visibility: hidden;
  background-color: #000;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  padding: 10px 20px;
}

button:hover {
  background-color: black;
  color: #EF921C;

}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}

.wrapper {
  background: rgb(227, 235, 245);
  background: linear-gradient(156deg,
      rgba(227, 235, 245, 1) 0%,
      rgba(254, 254, 255, 1) 100%);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.window {
  display: flex;
  width: 85%;
  height: 90%;
  border-radius: 25px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.window-constructor {
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 40%;
  min-height: 100%;
  background: #EF921C;
  transition: all .2s ease-in-out;
  padding: 30px 60px;
}

#title {
  margin-left: 40px;
}

#title,
#title span {
  color: #000;
  font-size: 38px;
  margin-bottom: 30px;
}

#title span {
  background-color: black;
  padding: 20px;
}

#title span:first-child {
  padding: 4px 0 4px 8px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  color: rgb(224, 224, 224);

}

#title span:last-child {
  padding: 4px 8px 4px 0;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  color: rgb(224, 224, 224);

}

input {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 14px;
  height: 30px;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 150px;
  background-color: #e8eeef;
  color: black;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

input:focus {
  outline: 2px solid #EF921C;
}

#divColor,
#textColor {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 14px;
  height: 50px;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 50px;
  background-color: #e8eeef;
  color: black;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.div-size-2 {
  padding-left: 50px;
}

/* =================RESULT==================== */

.window-result {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  min-height: 100%;
  background-color: white;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  overflow: hidden;
  padding: 30px;

}

#div {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  transition: .2s linear;

}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.div-gen {
  justify-content: space-evenly;
  display: flex;
}

#textSize {
  width: 70px !important;

}

#opacity {
  border: none;
  outline: none;
}

/* ==================== */

.opacityrange,
.opacityrange1 {
  padding: 0;
  display: ruby-text;
  font-size: 12px;
}

.opacityrange {
  margin-right: 10px;
}

.opacityrange1 {
  margin-left: 10px;
}

#world {
  z-index: 1;
}

.titlebox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}